flask
python-dotenv
requests
pandas
pydrive
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
pytz
selenium
selenium==4.20.0
google-api-python-client
google-auth
google-auth-oauthlib
